/*头*/
@media (min-width:1200px){
    .comment >ul >li{
        font-size: 14px;
        width: 100px!important;

    }
    .container{
        width:1220px!important;
    }
}
header{
    box-shadow: #0002 0 1px 10px 1px;
    position: relative;
    width: 100%;
    height: 52px;
    /*background-color: #b1e2ef;*/
/*    include hlelo */
    z-index: 99;
}
a:checked{
    text-decoration: none;
}
a:link{ text-decoration: none;}
.dis{
    height: 50px;
    float: left;
}
#user-login{
    float: right;
}

.logo{
    height: 50px;
    /*background-color: #3c3c3c;*/
}

.logo img{
    height: 100%;
    width: auto;
}

.navli{
    height: 52px;
    /*width: 510px;*/
    margin-right: 40px;
}
.navli>ul{
    height: 50px;
}
.navli>ul>li{
    float: left;
    height: 50px;
}
.ul-span{
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    /*line-height: 25px;*/
    width: 100%;
    /*text-shadow: 1px 1px #eee;*/
    margin: 10px;
    color: #777;
    background-color: #f5f5f5;
    /*height: 25px;*/
    padding: 5px 0;
    display: block;
}
.out-li{

        position: relative;
}
.out-li>ul{
    /*padding-top: 10px;*/
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    margin-left: 10px;
    z-index: 888;
    width: 118px;
    /*padding-bottom: 15px;*/
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.3), inset 0 -1px 0 hsla(0, 0%, 100%, 0.1), 0 2px 4px hsla(0, 0%, 0%, 0.2);
    -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.3), inset 0 -1px 0 hsla(0, 0%, 100%, 0.1), 0 2px 4px hsla(0, 0%, 0%, 0.2);
    box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.3), inset 0 -1px 0 hsla(0, 0%, 100%, 0.1), 0 2px 4px hsla(0, 0%, 0%, 0.2);
}
a:hover{
    text-decoration: none!important;
}
a:link{
    text-decoration: none!important;
}
.out-li>ul>li{
    padding: 2px 0;
    text-align: center;
}
.out-li>ul>a{
    font-size: 12px;
    color: #0187c5;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 宋体, serif;

}
.out-li>ul>li:hover{
    color: #FFFFFF;
    background-color: #0187c5;
}
.out-li>ul>li:hover>a{
    color: #FFFFFF;
    background-color: #0187c5;
}
.out-li:hover>ul{
 display: block;
}
.ul-span>ul>li{
    width: 100%;
    background-color: #b2dba1;
}
.ul-span:hover{
    background-color: #faa1a1;
    color: #ffffff;

}
.ul-span2{
    display: inline-block;
    color: #777777;
    line-height: 50px;
    height: 50px;
    padding: 0 5px;
}
.ul-span2:hover{
 border-top: 1px solid #5bc0de;
}
#span-img{
    height: 50px;
    width: 80px;
    padding-bottom: 5px;
}
#span-img img{
    height: 40px;
    width: 80px;
}
#span7{
margin-left: 20px;
}


#span6{
    border-radius: 30px;
    padding: 8px 10px;
}
#span1{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 10px;
}
#span5{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 10px;
}

/*搜索框*/
.search{
    float: left;
    /*background-color: #f09199;*/
    width: 202px;
    height: 50px;
}
.inner{
    padding-right: 40px;
    position: relative;
    border-radius: 100px;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    /*background-color: #b2dba1;*/
}
#siteSearchSelect{
    border: silver 1px solid;
    border-right: #FFFFFF;
    border-radius: 100px 0 0 100px ;
    padding: 0 10px;
    text-align: center;
    outline: #FFFFFF;
    height: 100%;
    width: 50px;
    color: #777777;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
}
#search_text{
    padding-left: 5px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    position: absolute;
    top: 0;
    height: 30px;
    width: 120px;
    left: 50px;
    outline: #FFFFFF;
    border: silver 1px solid;
    border-right: #FFFFFF!important;
}
#search_btn{
    outline: #FFFFFF;
    width: 30px;
    background: url("../image/search.png") no-repeat center center;
    position: absolute;
    top: 0;
    left: 170px;
    height: 30px;
    line-height: 30px;
    border-left: #FFFFFF!important;
    border: silver 1px solid;
    border-radius: 0  100px  100px 0;
    font-size: 12px;
    background-color: #FFFFFF;
}
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll rightright center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}
/*登录框*/
.login{
    float: right;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    background-color: #f09199;
    border-radius: 100px;
}

.reg11{
   color: #FFFFFF;
   float: left;
}
#login:hover{
    border-radius: 100px 0 0 100px;
}
#reg11:hover{
    border-radius: 0 100px 100px 0;
}
.reg11:hover{
    color: #ffffff;
    background-color: #5bc0de;

}
/*头像框*/

#headerpic{
    position: relative;
    margin: 5px 20px 20px 5px;
    height: 40px;
    display: inline-block;
    width: 40px;
    /*border: #f09199 2px solid;*/
    border-radius: 50px;
}
#headerpic >ul{
    border-radius: 10px;
    padding-top: 40px;
    display: none;
    width: 100px;
    /*height: 168px;*/
    background-color: #FFFFFF;
    -moz-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.3), inset 0 -1px 0 hsla(0, 0%, 100%, 0.1), 0 2px 4px hsla(0, 0%, 0%, 0.2);
    -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.3), inset 0 -1px 0 hsla(0, 0%, 100%, 0.1), 0 2px 4px hsla(0, 0%, 0%, 0.2);
    box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.3), inset 0 -1px 0 hsla(0, 0%, 100%, 0.1), 0 2px 4px hsla(0, 0%, 0%, 0.2);
    top: 20px;
    left: -25px;
    z-index: -99;
    position: absolute;
}
#headerpic>ul>li{
    text-align: center;
    padding: 5px 0;
}
#headerpic>ul>li>a{
    color: #222222;
}


#headerpic>ul>li:hover{
    background-color: #0187c5;
    color: #FFFFFF;
}
#headerpic>ul>li:hover>a{
    /*background-color: #0187c5;*/
    color: #FFFFFF;
}
#headerpic-last-li:hover{
    border-radius: 0 0 10px 10px;
}
#headerpic:hover >ul{
    display: block;
 }
#headerpic:hover img{
    height: 130%;
    width: 130%;
}

#headerpic img{
    /*margin: -3px;*/
    border:2px solid transparent;
    /*border-top: 2px #f09199 solid;*/
    z-index: 99;
    border-radius: 40px;
    width: 100%;
    height: 100%;
}
.menu{
    z-index: 999;
    top: 50px;
    left: 0;
    position: absolute;
    display: none;
    background-color: #f09199;
    width: 100%;
    height: 200px;
}


footer{
    box-shadow: rgba(241, 241, 241, 0.13) 0 -2px 10px 1px;
    width: 100%;
    /*height: 168px;*/
    background-color: #efefef;
    /*background-color: #f09199;*/
}


.left {

}

.left h1{
    font-weight: 600;
    font-size: 22px;
    padding: 20px 0 10px;
    color: #222222;
    margin: 0;

}
.left p{
    font-size: 12px;
}
.right{
    padding-top: 20px;
}
.right h4{
    color: #999999;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}
.right >ul {
    border-left: silver 1px solid;
    padding-left: 20px;
    width: 40%;
    float: left;
}
.right >ul >li{
    width: 40%;
    float: left;
    padding: 5px 0;
}
.right a{
    color: #212121;
}
.footer-bottom{
    padding: 20px 40px 0;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.footer-bottom p{

    margin: 0;
    padding-bottom: 5px;
    width: 100%;
}
footer p{
    font-size: 12px;
    color: #999999;
}