/*头*/
@media (min-width:1200px){
    .comment >ul >li{
        font-size: 14px;
        width: 100px!important;

    }
    .container{
        width:1220px!important;
    }
}
header{
    position: relative;
    width: 100%;
    height: 52px;
    /*background-color: #b1e2ef;*/
/*    include hlelo */
    z-index: 99;
}
a:checked{
    text-decoration: none;
}
a:link{ text-decoration: none;}
.dis{
    height: 50px;
    float: left;
}
#user-login{
    float: right;
}

.logo{
    height: 50px;
    /*background-color: #3c3c3c;*/
}

.logo img{
    height: 100%;
    width: auto;
}

.navli{
    height: 52px;
    /*width: 510px;*/
    margin-right: 40px;
}
.navli>ul{
    height: 50px;
}
.navli>ul>li{
    float: left;
    height: 50px;
}
.ul-span{

    text-align: center;
    vertical-align: center;
    font-weight: bold;
    /*line-height: 25px;*/
    width: 100%;
    /*text-shadow: 1px 1px #eee;*/
    margin: 10px;
    color: #777;
    background-color: #f5f5f5;
    /*height: 25px;*/
    padding: 3px 0;
    display: block;
}
.ul-span:hover{
    background-color: #faa1a1;
    color: #ffffff;

}
.ul-span2{

    display: inline-block;
    color: #777777;
    line-height: 50px;
    height: 50px;
    padding: 0 5px;
}
.ul-span2:hover{
 border-top: 1px solid #5bc0de;
}
#span-img{
    height: 50px;
    width: 80px;
}
#span-img img{
    height: 50px;
    width: 80px;
}
#span7{
margin-left: 20px;
}


#span6{
    border-radius: 30px;
    padding: 8px 10px;
}
#span1{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 10px;
}
#span5{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 10px;
}

/*搜索框*/
.search{
    float: left;
    background-color: #f09199;
    width: 202px;
    height: 50px;
}
.inner{
    position: relative;
    border-radius: 100px;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    /*background-color: #b2dba1;*/
}
#siteSearchSelect{
    border: silver 1px solid;
    border-right: #FFFFFF;
    border-radius: 100px 0 0 100px ;
    padding: 0 10px;
    text-align: center;
    outline: #FFFFFF;
    height: 100%;
    width: 50px;
    color: #777777;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
}
#search_text{
    padding-left: 5px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    position: absolute;
    top: 0;
    height: 30px;
    width: 120px;
    left: 50px;
    outline: #FFFFFF;
    border: silver 1px solid;
}
#search_btn{
    position: absolute;
    top: 0;
    left: 170px;
    height: 30px;
    line-height: 30px;
    border: silver 1px solid;
    border-radius: 0  100px  100px 0;
    font-size: 12px;
    background-color: #FFFFFF;
}
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll rightright center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}
/*登录框*/
.login{
    float: right;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    background-color: #f09199;
    border-radius: 100px;
}

.reg{
   color: #FFFFFF;
   float: left;
}
#login:hover{
    border-radius: 100px 0 0 100px;
}
#reg:hover{
    border-radius: 0 100px 100px 0;
}
.reg:hover{
    color: #ffffff;
    background-color: #5bc0de;

}


.menu{
    top: 50px;
    left: 0;
    position: absolute;
    display: none;
    background-color: #f09199;
    width: 100%;
    height: 200px;
}