/**
 * .m-topSlider
 *
 */
.m-topSlider {
  position: relative;
  background: #efefef;
  width: 100%;
  min-width: 1120px;
  height: 35rem;
  overflow: hidden;
}
.m-topSlider_loading {
  width: 100%;
  text-align: center;
  color: #999;
  margin-top: 15rem;
}
.m-topSlider_moveLeft,
.m-topSlider_moveRight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  width: 3rem;
  position: absolute;
  top: 0;
  height: 35rem;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
}
.m-topSlider_moveLeft {
  left: 0;
}
.m-topSlider_moveRight {
  right: 0;
}
.m-topSlider_inner {
  position: relative;
  display: none;
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.m-topSlider_unit {
  position: absolute;
  display: block;
  list-style: none;
  overflow: hidden;
  border-radius: .3rem;
  width: 15rem;
  height: 15rem;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 600;
}
.m-topSlider_unit a {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}
.m-topSlider_unit a:hover {
  color: #222;
}
.m-topSlider_unit_image {
  position: absolute;
  top: -12.5rem;
  left: -12.5rem;
  z-index: 1;
}
.m-topSlider_unit a .m-topSlider_unit_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 1rem;
  line-height: 1.54;
  text-align: center;
}
.m-topSlider_unit a:hover .m-topSlider_unit_title {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.4);
}
.m-topSlider_unit a .m-topSlider_unit_nickname {
  position: absolute;
  width: 15rem;
  bottom: -15rem;
  right: -14rem;
  z-index: 3;
  text-align: right;
}
@media screen and (max-width: 640px) {
  .m-topSlider {
    min-width: auto;
    height: 17.5rem;
  }
  .m-topSlider_loading {
    margin-top: 8rem;
  }
  .m-topSlider_moveLeft,
  .m-topSlider_moveRight {
    width: 1.5rem;
    height: 17.5rem;
    font-size: .75rem;
  }
  .m-topSlider_unit {
    width: 7.5rem;
    height: 7.5rem;
    font-size: .75rem;
  }
  .m-topSlider_unit a .m-topSlider_unit_nickname {
    width: 7.5rem;
    right: -7rem;
    bottom: -7.75rem;
    font-size: .625rem;
    font-weight: 500;
  }
}




