
.header {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 1000;
}

.all {
    /*min-height: 100%;*/
    /*flex: 1;*/
    /*margin-bottom: -165px;*/
}

.top {
    width: 100%;
    height: 440px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0px;
    position: relative;
    top: -55px;
    overflow: hidden;
}

.top #bg {
    margin: -30px 0px -30px -100px;
    width: 120%;
    height: 500px;
    display: block;
    overflow: hidden;
    -webkit-filter: blur(20px) brightness(50%);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px) brightness(50%);

    object-fit: cover;
    text-align: center;
    vertical-align: middle;
    z-index: -1;
    position: absolute;
    top: 0px;
}

.top {
    z-index: 1;
}

.top .text {
    z-index: 1;
    vertical-align: center;
}

.top .nei {
    vertical-align: center;
    width: 80%;
    height: 390px;
    margin: 0 auto;
    display: table;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.fjimg {
    width: 280px;
    height: 390px;
    float: left;
}

.top .nei #fj {
    margin: 25px 0px;
    width: 255px;
    border: 5px solid #ffffff;
    border-radius: 5px;
    float: left;
    z-index: 1;
}

.title {
    text-align: left;
    min-width: 1000px;
    float: left;
    position: absolute;
    top: 25px;
    left: 280px;
    display: inline;
    width: border-box;
    overflow: hidden;
    margin: 0 0 5px 20px;
}

.title .title_name {
    color: #ffffff;
    font-size: 22px;
    overflow: hidden;
    line-height: 25px;
    text-overflow: ellipsis;
    font-weight: 700;
}

.title .title_tags {
    margin: 0 0 0 20px;
}

.title_tag {
    width: 1000px;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    padding: 0 4px;
    line-height: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.title_tag:hover {

    color: #088bcf;
    border: 1px solid #088bcf;
}

.data {
    float: left;
    position: absolute;
    top: 80px;
    left: 290px;
}

.count {
    display: inline-block;
}

.count * {
    color: #ffffff;
    font-size: 14px;

}

.count .plays {

    padding-right: 18px;
    max-width: 76px;
    width: 76px;
    text-indent: 0;
    border-right: 1px solid #ffffff;
    display: block;
    float: left;
}

.count .plays span {
    line-height: 12px;

}

.count .plays em {
    width: 76px;
    padding-top: 15px;
    line-height: 17px;
    font-style: normal;
    font-weight: 700;


}

.count .likes {
    max-width: 76px;
    width: 76px;
    text-indent: 0;

    display: block;
    float: left;
    margin-left: 20px;
}

.count .likes span {
    line-height: 12px;
}

.count .likes em {
    width: 76px;
    padding-top: 15px;
    line-height: 17px;
    font-style: normal;
    font-weight: 700;
}

.time {
    float: left;
    position: absolute;
    display: inline-block;
    top: 175px;
    left: 300px;
    height: 17px;
    color: #ffffff;
    font-size: 12px;
}

.time span {
    margin-right: 20px;
}

.time {
    float: left;
    position: absolute;
    display: inline-block;
    top: 175px;
    left: 300px;
    height: 17px;
    color: #ffffff;
    font-size: 12px;
}

.time span {
    margin-right: 20px;
}

.intro {
    text-align: left;
    float: left;
    width: 950px;
    position: absolute;
    display: block;
    top: 225px;
    left: 300px;
    height: 17px;
    color: #ffffff;
    font-size: 14px;
}

.intro_text {

}

.btns {

    float: left;
    display: inline-block;
    position: absolute;

    top: 300px;
    left: 300px;

}

.btn_like:hover {
    background-color: rgb(255, 133, 173);
}

.btn_like {
    vertical-align: center;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 16px;
    transition: all .3s ease 0s;
    width: 128px;
    height: 48px;
    background-color: #f36392;
}

.btn_like i {
    display: inline-block;
    vertical-align: -5px;
    width: 24px;
    height: 24px;
    margin-right: 7px;
    background-image: url(http://s1.hdslb.com/bfs/static/review/media/asserts/heart-bangumi.svg);
    background-repeat: no-repeat;
}

.btn_liked {
    width: 120px;
    height: 40px;
    line-height: 42px;
    background-color: hsla(0, 0%, 100%, 0.12);
    border: 4px solid hsla(0, 0%, 100%, 0.5);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.btn_liked:hover {
    background-color: hsla(0, 0%, 100%, 0.12);
}

.btn_liked i {

    vertical-align: -6px;
    background-image: url(http://s1.hdslb.com/bfs/static/review/media/asserts/icons.png);
    background-position: -660px -1938px;

}

/*从这里开始，下面的css均为下半部分的css样式*/
.detail_tab {
    padding: 0;
    position: relative;
    top: -30px;
}

.tab_nav {
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
    top: -40px;
    width: 100%;
    /*margin: 0 10% 11px 10%;*/
}

.tab_nav ul {
    font-size: 16px;
    margin-left: 40px;
    top: -3px;
}

.tab_nav ul li.on, .tab_nav ul li:hover {
    color: #00a1d6;
    border-bottom-color: #00a1d6;
}

.tab_nav ul li {
    cursor: pointer;
    float: left;
    padding: 0 6px 0px 6px;
    color: #222;
    transition: all 0.1s linear;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    height: 60px;
    line-height: 60px;
}

.tab_nav ul li + li {
    margin-left: 28px;
}

/*从这里开始，下面的css为第一部分，评分页*/
.details_card_left {
    padding: 25px;
    width: 100%;
    display: inline-block;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}

.details_card_right {
    padding: 25px 0;
    width: 100%;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}

.card_left_title {
    font-family: 幼圆, serif;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
}

.card_left_text {
    font-family: 幼圆, serif;
    text-align: left;
    padding-top: 25px;
    line-height: 20px;
    font-size: 15px;
}

.card_right_title {
    font-family: 幼圆, serif;
    color: #0a0000;
    font-size: 22px;
    line-height: 20px;
    font-weight: 800;
}

.card_right_div {
    position: relative;
    width: 80%;
    height: 200px;
    /*background-color: #f09199;*/
    text-align: center;
    margin-left: 10%;
    display: inline-block;
    padding-top:10px;
}
.card_right_div_fourth {
    position: relative;
    width: 100%;
    height: 270px;
    /*background-color: #f09199;*/
    text-align: center;
    display: inline-block;
    padding-top:10px;
}

.card_right_bg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #ccc;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
}

.short_review {
    width: 100%;
    /*height: auto;*/
}

.short_review_middle {
    padding: 25px;
    height: 100%;
    width: 100%;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
}

.short_review_drop {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 24px;
    line-height: 24px;
    margin-left: 13px;
    font-size: 14px;
    text-align: center;

}

.short_review_drop i {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid #99a2aa;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    right: 10px;
    font-style: italic;
}

.short_review_drop ul {
    display: none;
    position: absolute;
    top: 22px;
    left: 14px;
    padding: 5px 5px;
    background: #fff;
    border: 1px solid #e5e9ef;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
    border-radius: 4px;
    z-index: 10;
}

.short_review_drop div:hover + ul {
    display: block;
}

.short_review_drop ul:hover {
    display: block;
}

.short_review_drop ul li:hover {
    background: #a0a5a5;
}

.short_review_write {
    float: right;
    width: 70px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #00a1d6;
    border-radius: 4px;
    color: #00a1d6;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin-top: -3px;
}
.short_review_write:hover{
    filter:brightness(110%);
    border: 1px solid #03c0ff;
    color: #03c0ff;
}
.short_review_middle>ul li{
    border-bottom: 1px solid #f4f5f7;
    padding: 20px 0 45px;
}

.li_first_div {
    height: 30px;
    margin-bottom: 20px;
}

.short_review_face {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 13px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
}

.short_review_img {
    vertical-align: top;
    display: inline-block;
    background: url(img/close.png) 50% no-repeat;
    background-size: 50px;
    width: 100%;
    height: 100%;
}

.short_review_name {
    cursor: pointer;
    line-height: 30px;
    font-size: 12px;
    color: #6d757a;
    margin-right: 20px;
    vertical-align: top;
    display: inline-block;
}

.short_review_star {
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
}

.review_star {
    width: 75px;
}

.review-stars > i {
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
}

.icon-star-full {
    color: #ffa726;
}

.icon-star-empty {
    color: #ffa726;
}

.short_review_time {
    float: right;
    font-size: 12px;
    color: #99a2aa;
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
}

.second_review {
    font-size: 14px;
    line-height: 24px;
    margin-top: 8px;
    max-height: 48px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-word;
    color: #212121;
}

.li_third_icon {
    margin-top: 16px;
    float: left;
}

.li_third_icon div:nth-child(1) {
    cursor: pointer;
    float: left;
    line-height: 16px;
    font-size: 12px;
    color: #99a2aa;
    display: inline;
    margin-right: 30px;
}

.li_third_icon div:hover i:nth-child(1), .li_third_icon div:hover span:nth-child(2) {
    color: #1189ef;
    cursor: pointer;
}

.li_third_icon div:nth-child(2) {
    cursor: pointer;
    float: left;
    line-height: 16px;
    font-size: 12px;
    color: #99a2aa;
    display: inline;
}

.write_review {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 10000;
}

.write_review_bg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 594px;
    height: 404px;
    background: #fff;
    border-radius: 4px;
    margin-left: -297px;
    margin-top: -202px;
    cursor: default;

}
.write_review_close {
    position: absolute;
    top: 20px;
    right: 22px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(img/close.png);
    background-size: cover;
    cursor: pointer;
}

.write_review_header {
    padding: 30px 30px 20px;
}

.write_review_info {
    padding-left: 120px;
}

.write_review_star {

}

.write_review_star i {
    width: 20px;
    height: 20px;
    padding-right: 6px;
    cursor: pointer;
    font-size: 20px;
}

.write_review_middle {
    position: relative;
    width: 534px;
    height: 130px;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    margin: 25px auto;
}

.write_review_middle textarea {
    width: 510px;
    height: 72px;
    line-height: 24px;
    display: block;
    margin: 12px auto 0;
    font-size: 14px;
    color: #222;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
}

.write_review_middle span {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 12px;
    color: #99a2aa;
    line-height: 14px;
}
.write_review_button{
    cursor: not-allowed;
    color: #a0a5a5;
    position: absolute;
    bottom: -60px;
    left: 50%;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -60px;
    text-align: center;
    display: block;
    /*background: #f4f5f7;*/
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    /*color: #0cc7ef;*/
}


.long_review {
    margin-top: 20px;
    display: none;
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: .5s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}

.diversity {
    margin-top: 20px;
    display: none;
    height: 100%;
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: .5s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}

.short_review {
    margin-top: 20px;
    display: none;
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: .5s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/

}

.hyoka {
    /*height: 800px;*/
    margin-top: 20px;
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: .5s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}
.insert_success{
    display: none;
    position: fixed;
    left: 50%;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,0.8);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*圆形*/

.bg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #ccc;
    position: absolute;
    margin-top: 120px;
    margin-left: 700px;
}

.bg_2 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #ccc;
    position: absolute;
    margin-top: 120px;
    margin-left: 950px;
}

.circle-right, .circle-left, .mask-right, .mask-left {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle-right, .circle-left {
    background: skyblue;
}

.mask-right, .mask-left {
    background: #ccc;
}

.circle-right, .mask-right {
    clip: rect(0, 200px, 200px, 100px);
}

.circle-left, .mask-left {
    clip: rect(0, 100px, 200px, 0);
}

.text {
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    font-size: 34px;
    color: deepskyblue;
    border-radius: 100%;
    background: #ffffff;
    position: absolute;
    top: 20px;
    left: 20px;
}

.cirle_info {
    position: absolute;
    width: 450px;
    height: 20px;
    left: 700px;
    top: 70px;
}

.circle_line {
    position: absolute;
    width: 2px;
    height: 210px;
    background: #70c2db;
    left: 920px;
    top: 100px;
}
/*以下是评分排名部分*/
.hyoka_rank{
    width:100%;
    height:80%;
    margin-top: 40px;
}
.hyoka_rank_fourth{
    width:100%;
    height:80%;
}
.compre_score{
    position: absolute;
    display: inline-block;
    font-size: 30px;
    left: 45%;
    width: 210px;
    height: 50px;
    line-height: 50px;
}
.compre_scorenum{
    font-family: 幼圆, serif;
    color: #0a0000;
    font-weight: 800;
    position: absolute;
    display: inline-block;
    font-size: 26px;
    line-height: 50px;
    left: 25%;
}
.compre_score_empty{
    position: absolute;
    display: inline-block;
    font-size: 29.5px;
    width: 210px;
    height: 50px;
    line-height: 50px;
    left: 45%;
}
.compre_ping{
    font-family: serif;
    color: #0a0000;
    font-size: 26px;
    font-weight: 800;
    position: absolute;
    display: inline-block;
    line-height: 50px;
    left: 24%;
    top: 45%;
}
.compre_ping_num{
    width: 210px;
    height: 50px;
    font-family:serif;
    color: #0a0000;
    font-size: 26px;
    font-weight: 800;
    position: absolute;
    display: inline-block;
    line-height: 50px;
    left: 45%;
    top: 45%;
    text-align: center;
}

.rank_first{
    width: 100%;
    overflow: hidden;
    display: inline-block;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rank_first_line{
    width: 90%;
    margin-left: 5%;

}
.rank_first_img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}
.rank_first_name{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}
.rank_first_score{
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
}
.rank_first_rank{
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}
/*以上是评分排名部分*/
/*动画效果*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    20% {
        opacity: .2;
    }
    50% {
        opacity: .5; /*中间状态 透明度为0.5*/
    }
    70% {
        opacity: .7;
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}


/*分集标题*/
.episode_card_right_title {
    margin-top: 10px;
    margin-left: 10px;
    border-bottom:1px solid #e5e9ef ;
    padding-bottom: 10px;
    margin-bottom: -15px;
    font-size: 20px;
    font-weight: 700;
    font-family: 幼圆, serif;
}


/*分集讨论内容*/
.episode_card_right{
    height: 100%;
    display: inline-block;
    width: 66.0%;
}
.episode_card_right_content {
    padding: 25px;
    height: 100%;
    text-align: left;
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}

/*分集页*/
.episode_card_left{
    padding: 25px;
    height: 100%;
    margin-left: 10%;
    text-align: left;

    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 33.3%;
}

/*集数列表——开始*/
.sl_list {
    clear: both;

}

.sl_list ul {
    padding-top: 10px;
    margin: 20px -20px 0 0;
    height: auto;

}

.misl_ep_item {

    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 20px 10px;
    width: 205px;
    height: 60px;
    cursor: pointer;
    background-color: #f4f5f7;
    border: 1px solid #f4f5f7;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.3);
}

.misl_ep_item .misl_ep_img {
    position: relative;
    float: left;
    width: 96px;
    height: 60px;
    margin: -1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
}

/*.misl_ep_item:hover .common_lazy_img_text {*/
/*    color: #00a1d6;*/
/*}*/
/*.misl_ep_item:hover .common_lazy_img_num {*/
/*    color: #00a1d6;*/
/*}*/

.common_lazy_img img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(60%) blur(5px);
}

.common_lazy_img_text {

    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
    display: flex;
    align-items: center; /*垂直居中*/
    color: #ffffff;

}

@font-face {
    font-family: 'myriad-pro-8';
    src: url('../fonts/myriad-pro-8.otf');
}

.common_lazy_img .common_lazy_img_num {
    margin: 4px 0 0 0;
    font-size: 42px;
    color: #ffffff;
    font-family: "myriad-pro-8", serif;
    letter-spacing: 1px;
}


.misl_ep_item .misl_ep_title {
    margin-left: 100px;
    padding-right: 9px;

}

.misl_ep_item .misl_ep_text {
    margin-top: 4px;
}

.misl_ep_item .misl_ep_title .misl_ep_title_name, .misl_ep_item .misl_ep_text .misl_ep_info {
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.misl_ep_item:hover .misl_ep_title .misl_ep_title_name, .misl_ep_item:hover .misl_ep_text .misl_ep_info {
    color: #00a1d6;
}

.misl_ep_item .misl_ep_title .misl_ep_title_name {
    width: 94px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2d2d2d;
    max-height: 16px;

}

.misl_ep_item .misl_ep_text .misl_ep_info {

    margin-left: 103px;
    padding-right: 9px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-top: 1px;
    color: #6d757a;
    max-height: 32px;
    word-break: break-word;
}

/*集数列表——结束*/

/*每集下面的讨论--开始*/
.episode_comment_title{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom:1px solid #e5e9ef ;
    padding-bottom: 15px;
    margin-bottom: 15px;

}
.common_content_title_text{
    font-size: 20px;
    font-weight: 700;
    font-family: 幼圆, serif;
}
.episode_comment_content{

}

.common_icon{
    display: inline;



}

.common_icon_face {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 3px;
    margin-left: 3px;
    /*border-radius: 50%;*/
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    vertical-align: top;
    display: inline-block;
}
.common_icon_img {
    vertical-align: top;
    display: inline-block;
    background: url(img/close.png) 50% no-repeat;
    background-size: 50px;
    width: 100%;
    height: 100%;
}
.common_icon_img img{
    width: 50px;
}
.episode_comment_item{

    /*margin-bottom: 10px;*/
    margin-top: 15px;
    width: 100%;
    height: 100%;
    display: inline-block;

}
.common_content{
    box-sizing: border-box;
    display: inline-block;
    width: 70%;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.common_content_info{
    width: 100%;
    height: 100%;
    display: inline-block;
    max-height: 22px;
    margin-bottom: 5px;
}

.common_username{
    color: #6d757a;
    font-size: 15px;
    display: inline-block;
}
.common_time{
    margin-left: 10px;
    color: #6d757a;
    font-size: 13px;
    display: inline-block;
}
.common_text{
    font-size: 15px;
    word-wrap:break-word
}
.rr .common_icon .common_icon_face{
    float: right;
}
.rr .common_content{
    float: right;
    margin-right: 4px;

}





/*每集下面的讨论--结束*/

