@charset "utf-8";
* {margin: 0;padding: 0;border: 0;list-style: none;}
a{
    text-decoration: none;
    color: #000;
}
a:visited{
    color: #000;
}

body{
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
}
/*top*/
.top{
    width: 100%;
    height: 50px;
    position: relative;
}
.top iframe{
    width: 100%;
    height:50px;
    position: relative;
    z-index: 1000;

}

/*.img1{*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    background: #3E10F2;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/
/*.img1 img{*/
/*    width: 100%;*/
/*    height: auto;*/
/*    min-width: 100%;*/
/*    min-height: 100%*/
/*}*/


/*content*/
.content{
    width: 80%;
    height: 1100px;
    margin: 40px auto 50px auto ;
    position: relative;
    /*overflow: hidden;*/
}
    /*content left*/
.content .left{
    width: 75%;
    height: 1100px;
    max-height: 1100px;
    border: 1px solid #fff;
    border-radius: 15px;
    background: rgba(255,255,255,.8);
    display: inline-block;
    vertical-align:top;
    overflow: hidden;
    position: relative;
}
.content .left .l-title{
    width: 95%;
    height: 30px;
    font-size: 24px;
    margin: 10px auto;
    position: relative;
}
.content .left .l-title .sort_item{
    width: 20%;
    height: 30px;
    float: left;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.content .left .l-title .sort_item span{
    width: 60%;
    height: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content .left .l-title .sort_item .up,.content .left .l-title .sort_item .down{
    display: block;
    position: absolute;
    left: 60%;
    margin: 5px 2px;
    width: 0;
    height: 0;
}
.content .left .l-title .sort_item .up{
    top: 3px;
    border: 5px dashed rgba(0,0,0,0);
    border-top: none;
    border-bottom: 5px solid #ddd;
    cursor: pointer;
}
.content .left .l-title .sort_item .down{
    bottom: 0px;
    border:5px dashed rgba(0,0,0,0);
    border-bottom: none;
    border-top: 5px solid #ddd;
    cursor: pointer;
}
.content .left .l-title .sort_item a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
/*.content .left .l-title .sort_item .up_active,.content .left .l-title .sort_item .down_active{*/
/*    border-color:#00a1d6 rgba(0,0,0,0);*/
/*}*/
.content .left .l-content{
    width: 95%;
    height: 960px;
    position: absolute;
    top:50px;
    left: 0;
}
.content .left .l-content li{
    width: 25%;
    height: 240px;
    float: left;
    overflow: hidden;
}
.content .left .l-content li .fengmian{
    height:200px;
    width: 150px;
    margin: 0px auto 10px auto;
    position: relative;
}
.content .left .l-content li .fengmian a{
    display: block;
    height: 100%;
    width: 100%;
}
.content .left .l-content li .fengmian div{
     width: 27px;
     position: absolute;
     bottom:0;
     right: 0px;
     font-weight: bold;
     border: 1px solid #fff;
     border-radius: 15px 0 0 0;
     background: rgba(255,255,255,.8);
    text-align: right;
 }
.content .left .l-content li img{
    width: 100%;
    max-width: 150px;
    height: 200px;
    border-radius: 15px 15px 0 15px;
}
.content .left .l-content li p{
    width: 100%;
    text-align: center;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content .left .page{
    width: 90%;
    margin: 20px auto;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 5%;
    overflow: hidden;
    white-space: nowrap;
}
.content .left .page li{
    height: 35px;
    width: 35px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgb(167, 163, 163);
    line-height: 35px;
    text-align: center;
    margin-right: 3px;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.content .left .page li:nth-child(1),.content .left .page li:last-child{
    width: 75px;
    text-align: center;
}
.content .left .page li:hover{
    background: #00a6ff;
    transition: all 0.3s ease;
}
.content .left .page .l_page_on{
    background: #00a6ff;
}
.content .left .page .l_page_on a{
    color: white;
}
.content .left .page li:hover a{
    color: white;
}
.content .left .page li a{
    width: 100%;
    height: 100%;
    display: block;
}
    /*content right*/
.content .right{
    /*width:20%;*/
    width: 16%;
    min-width:225px;
    height: auto;
    max-height: 1100px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 15px;
    background: rgba(255,255,255,.8);
    vertical-align:top;
    position: fixed;
    left: 75%;
    overflow: hidden;
}

.content .right .r-title{

    width: 90%;
    height: 30px;
    font-size: 24px;
    margin: 10px auto;
}

.content .right .r-tag{
    width: 100%;
    height: auto ;
    margin-top: 10px;
}
.content .right .filter-block{
    width: 90%;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
}
.content .right .filter-block .filter-name{
    float:left;
    width: 20%;
    height:30px;
}
.content .right .filter-block ul{
    width: 75%;
    float: right;
    height: auto;
}
.content .right .filter-block ul li{
    float: left;
    width: 50px;
    height: 30px;
    transition: all 0.3s ease;
}

.content .right .filter-block ul li:hover a{
    color: #00a6ff;
    transition: all 0.3s ease;
}
.content .right .filter-block ul .r_li_on a{
    color: #00a6ff;
}

/*content end*/
img:hover{
    filter: brightness(80%);
    transition: all 0.3s ease;
}
img{
    transition: all 0.3s ease;
}