@media (max-width:768px){

    .l-right{
        padding: 20px;
    }
}

@media (min-width:768px){
    .l-right{
        padding: 20px;
    }

}
@media (min-width:992px){
    .l-right{
        padding: 0;
    }
}
@media (min-width:1200px){
    .l-right{
        padding: 0;
    }
}


.l-bar{
    text-align: center;
    padding: 0;
    display: block;
    width: 110px;
    height: 30px;
    margin: 10px 0;
}

.l-cover{
    width: 100%;
    height: 360px;
    /*background-color:#f09199;*/
    margin-bottom: 10px;
}
.l-cover img{
    border-radius: 4px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.litle-cover{
    height: 68px;
    margin: 40px 0;
    position: relative;
}
.litle-cover img{
    height: 68px;
    width: 51px;
    background-color: #b2dba1;
}
.l-title >h1{
    font-size: 28px;
    color: #222;
    margin-bottom: 14px;
    font-weight: 700;
    line-height: 1.4;
}
.l-title>.l-info >span{
    margin-right: 18px;
    color: #9b9b9b;
    transition: .3s;
    -webkit-transition: .3s;
}
.litle-cover-info{
    position: absolute;
    top: 0;
    left: 80px;
}
.litle-cover-info h6{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
}
.litle-cover-info p{
    height: 30px;
    line-height: 30px;
    color: silver;
    font-size: 12px;
    margin: 0;
    padding: 0;

}
#comment-content{
    padding: 30px 20px;
    width: 100%;
    height: 600px;
}
#comment-content p{
    font-size: 16px;
    margin-bottom: 20px;
}
.l-left{

}

.comment-bar{
    margin-right: 70px;
    height: 300px;
    width: 100%;
    margin-left: 20px;
    background-color: #d4d4d4;
}

.bar-person{
    background-color: #0187c5;
    padding-top: 30px;
    height: 200px;
    width: 100%;
}